h1 {
    border-style: solid;
    border-color: black;
}

h2 {
    background-color: lightgreen;
    color: green;
}

.text {
    color: red;
    font-weight: bold;
}

input {
    width: 300px;
}

body {
    margin: 20px;
    padding: 20px;
    font-size: 25px;
    font-family: Verdana;
}

p {
    font-size: 20px;
    font-family: Arial;
}